In [1]:
# Import Dependencies
import pandas as pd
import csv
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify
import json
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String, Date, Float

In [2]:
pepsi = 'PEP.csv'
coke = 'KO.csv'

In [3]:
pepsi = pd.read_csv(pepsi)
coke = pd.read_csv(coke)

In [4]:
pepsi

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-02,119.930000,120.180000,117.930000,118.059998,106.200912,4165800
1,2018-01-03,117.910004,118.470001,117.639999,117.750000,105.922035,4224000
2,2018-01-04,117.800003,119.110001,117.599998,118.330002,106.443779,3147000
3,2018-01-05,118.410004,119.089996,118.250000,118.669998,106.749626,2714200
4,2018-01-08,118.209999,118.739998,117.669998,117.989998,106.137932,5730400
...,...,...,...,...,...,...,...
750,2020-12-23,144.490005,145.600006,144.070007,144.410004,142.226974,2645100
751,2020-12-24,144.830002,145.110001,144.139999,145.059998,142.867142,883300
752,2020-12-28,145.779999,147.600006,145.539993,146.910004,144.689163,2493500
753,2020-12-29,147.679993,148.770004,146.839996,147.419998,145.191467,3186700
754,2020-12-30,147.470001,147.990005,147.009995,147.309998,145.083115,2224900

In [5]:
coke

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-02,45.910000,45.939999,45.509998,45.540001,40.607414,10872200
1,2018-01-03,45.490002,45.689999,45.340000,45.439999,40.518246,12635600
2,2018-01-04,45.560001,46.220001,45.450001,46.080002,41.088924,12709400
3,2018-01-05,46.020000,46.200001,45.790001,46.070000,41.080006,13113100
4,2018-01-08,45.950001,46.099998,45.880001,46.000000,41.017590,7068600
...,...,...,...,...,...,...,...
750,2020-12-23,52.950001,53.389999,52.939999,53.080002,52.248150,7040300
751,2020-12-24,53.020000,53.549999,53.020000,53.439999,52.602509,3265500
752,2020-12-28,53.849998,54.439999,53.730000,54.160000,53.311226,9020500
753,2020-12-29,54.450001,54.490002,54.020000,54.130001,53.281696,8320600
754,2020-12-30,54.049999,54.630001,54.029999,54.439999,53.586834,8142700

In [6]:
# Create a filtered dataframe from specific columns
pepsi_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
pepsi_transformed= pepsi[pepsi_cols].copy()

# Rename the column headers
pepsi_transformed = pepsi_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del pepsi_transformed['Close']

# Adds a column for the ticker
pepsi_transformed.insert(6,column="Ticker", value= "PEP")
pepsi_transformed.head()

# Change the datatype of 'Date' to a dateime type
pepsi_transformed['Date'] = pd.to_datetime(pepsi_transformed['Date'])
pepsi_transformed.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Adj_Close           float64
Volume                int64
Ticker               object
dtype: object

In [7]:
# Create a filtered dataframe from specific columns
coke_cols = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
coke_transformed= coke[coke_cols].copy()

# Rename the column headers
coke_transformed = coke_transformed.rename(columns={"Adj Close": "Adj_Close"
                                                         })
# This is to drop the Close column as it is not necessary.
del coke_transformed['Close']

# Adds a column for the ticker
coke_transformed.insert(6,column="Ticker", value= "KO")
coke_transformed.head()

# Change the datatype of 'Date' to a dateime type
coke_transformed['Date'] = pd.to_datetime(coke_transformed['Date'])
coke_transformed.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Adj_Close           float64
Volume                int64
Ticker               object
dtype: object

In [8]:
coke_transformed

          Date       Open       High        Low  Adj_Close    Volume Ticker
0   2018-01-02  45.910000  45.939999  45.509998  40.607414  10872200     KO
1   2018-01-03  45.490002  45.689999  45.340000  40.518246  12635600     KO
2   2018-01-04  45.560001  46.220001  45.450001  41.088924  12709400     KO
3   2018-01-05  46.020000  46.200001  45.790001  41.080006  13113100     KO
4   2018-01-08  45.950001  46.099998  45.880001  41.017590   7068600     KO
..         ...        ...        ...        ...        ...       ...    ...
750 2020-12-23  52.950001  53.389999  52.939999  52.248150   7040300     KO
751 2020-12-24  53.020000  53.549999  53.020000  52.602509   3265500     KO
752 2020-12-28  53.849998  54.439999  53.730000  53.311226   9020500     KO
753 2020-12-29  54.450001  54.490002  54.020000  53.281696   8320600     KO
754 2020-12-30  54.049999  54.630001  54.029999  53.586834   8142700     KO

[755 rows x 7 columns]

In [9]:
# Appends all the above transformed dataframes into one dataframe
stocks_appended = coke_transformed.append(pepsi_transformed)
stocks_appended

,Date,Open,High,Low,Adj_Close,Volume,Ticker
0,2018-01-02,45.910000,45.939999,45.509998,40.607414,10872200,KO
1,2018-01-03,45.490002,45.689999,45.340000,40.518246,12635600,KO
2,2018-01-04,45.560001,46.220001,45.450001,41.088924,12709400,KO
3,2018-01-05,46.020000,46.200001,45.790001,41.080006,13113100,KO
4,2018-01-08,45.950001,46.099998,45.880001,41.017590,7068600,KO
...,...,...,...,...,...,...,...
750,2020-12-23,144.490005,145.600006,144.070007,142.226974,2645100,PEP
751,2020-12-24,144.830002,145.110001,144.139999,142.867142,883300,PEP
752,2020-12-28,145.779999,147.600006,145.539993,144.689163,2493500,PEP
753,2020-12-29,147.679993,148.770004,146.839996,145.191467,3186700,PEP
754,2020-12-30,147.470001,147.990005,147.009995,145.083115,2224900,PEP

In [10]:
# Resets current index to rearrange the order back to 0
new_stocks = stocks_appended.reset_index()

In [11]:
new_stocks

,index,Date,Open,High,Low,Adj_Close,Volume,Ticker
0,0,2018-01-02,45.910000,45.939999,45.509998,40.607414,10872200,KO
1,1,2018-01-03,45.490002,45.689999,45.340000,40.518246,12635600,KO
2,2,2018-01-04,45.560001,46.220001,45.450001,41.088924,12709400,KO
3,3,2018-01-05,46.020000,46.200001,45.790001,41.080006,13113100,KO
4,4,2018-01-08,45.950001,46.099998,45.880001,41.017590,7068600,KO
...,...,...,...,...,...,...,...,...
1505,750,2020-12-23,144.490005,145.600006,144.070007,142.226974,2645100,PEP
1506,751,2020-12-24,144.830002,145.110001,144.139999,142.867142,883300,PEP
1507,752,2020-12-28,145.779999,147.600006,145.539993,144.689163,2493500,PEP
1508,753,2020-12-29,147.679993,148.770004,146.839996,145.191467,3186700,PEP
1509,754,2020-12-30,147.470001,147.990005,147.009995,145.083115,2224900,PEP

In [12]:
# Drop the out of order column
new_stocks = new_stocks.drop(columns=['index'])
new_stocks

,Date,Open,High,Low,Adj_Close,Volume,Ticker
0,2018-01-02,45.910000,45.939999,45.509998,40.607414,10872200,KO
1,2018-01-03,45.490002,45.689999,45.340000,40.518246,12635600,KO
2,2018-01-04,45.560001,46.220001,45.450001,41.088924,12709400,KO
3,2018-01-05,46.020000,46.200001,45.790001,41.080006,13113100,KO
4,2018-01-08,45.950001,46.099998,45.880001,41.017590,7068600,KO
...,...,...,...,...,...,...,...
1505,2020-12-23,144.490005,145.600006,144.070007,142.226974,2645100,PEP
1506,2020-12-24,144.830002,145.110001,144.139999,142.867142,883300,PEP
1507,2020-12-28,145.779999,147.600006,145.539993,144.689163,2493500,PEP
1508,2020-12-29,147.679993,148.770004,146.839996,145.191467,3186700,PEP
1509,2020-12-30,147.470001,147.990005,147.009995,145.083115,2224900,PEP

In [13]:
# Create engine that connects to ElephantSQl
engine = create_engine("postgres://ssneuzru:8rF1_TwLK-AFrgMANToPLGE4u7fkNMqZ@chunee.db.elephantsql.com/ssneuzru")
Base = automap_base()
Base.prepare(engine, reflect= True)

In [14]:
# Create a session
session = Session(engine)

In [ ]:
# Append to SQl cloud AWS
new_stocks.to_sql(name='stocks', con=engine, if_exists='append', index=True)

In [ ]:
# Pull the from the SQl website to verify it is there
stocks_df = pd.read_sql("SELECT * FROM stocks", con=engine)
stocks_df